.card-title {
    color: black;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding: 0px;
}

.speech-menu-body {
    background-color: #fff; 
    width: 280px; 
    height: 180px;
}

.start-btn{
    background-color: #313c4d; 
    color:#fff
}