<div
  class="grid"
  [class.grid-cols-1]="cols === 1"
  [class.grid-cols-2]="cols === 2"
  [class.grid-cols-3]="cols === 3"
  [class.grid-cols-4]="cols === 4"
  [class.grid-cols-5]="cols === 5"
  [class.grid-cols-6]="cols === 6"
  [class.gap-2]="gap === 2"
  [class.gap-3]="gap === 3"
  [class.gap-4]="gap === 4"
  [class.gap-5]="gap === 5"
  [class.gap-6]="gap === 6"
>
  <ng-content></ng-content>
</div>
<!-- <div
  class="grid"
  [class.grid-cols-1]="smCols === 1"
  [class.grid-cols-2]="smCols === 2"
  [class.grid-cols-3]="smCols === 3"
  [class.grid-cols-4]="smCols === 4"
  [class.grid-cols-5]="smCols === 5"
  [class.grid-cols-6]="smCols === 6"
  [class.lg:grid-cols-1]="cols === 1"
  [class.lg:grid-cols-2]="cols === 2"
  [class.lg:grid-cols-3]="cols === 3"
  [class.lg:grid-cols-4]="cols === 4"
  [class.lg:grid-cols-5]="cols === 5"
  [class.lg:grid-cols-6]="cols === 6"
  [class.md:grid-cols-1]="mdCols === 1"
  [class.md:grid-cols-2]="mdCols === 2"
  [class.md:grid-cols-3]="mdCols === 3"
  [class.md:grid-cols-4]="mdCols === 4"
  [class.md:grid-cols-5]="mdCols === 5"
  [class.md:grid-cols-6]="mdCols === 6"
  [class.gap-2]="gap === 2"
  [class.gap-3]="gap === 3"
  [class.gap-4]="gap === 4"
  [class.gap-5]="gap === 5"
  [class.gap-6]="gap === 6"
>
  <ng-content></ng-content>
</div> -->
