

 <div class="footer-wrapper">
  <footer>
    <div class="top-part">
      <div class="nav">
        <div class="nav-item">
          <mat-icon class="icon-size-sm">home</mat-icon>
          <a [routerLink]="['/home']" style="color: black;">Home</a>
        </div>
        <div class="nav-item">
          <mat-icon class="icon-size-sm">account_circle</mat-icon>
          <a [routerLink]="['/user-profile']" style="color: black;">User Profile</a>
        </div>
      </div>
      <div class="footer-section">
        <h3>Welcome to open education resources </h3>
        <p>Discover and expand your knowledge! Learning has never been more exciting.</p>
    </div>
    
    <chatbot> </chatbot>
    </div>
  
  </footer> 
  
  
  <div class="bottom-part" style=" text-align: center;">
    <small> &copy; OPEN EDUCATION RESOURCES @ 2024. All rights reserved.</small>
  </div>
  
 </div>