
<div class="container1">


  <section class="hero-section">
    <div class="left-side ">
      <div class="text">
        <h1>
          Learn From Home
          <br />
          With
          <span style="color: #0F62FE;">The Best</span>
          <br />
          Open Education Resources
        </h1>
        <p>
          Discover new ways to learn and expand your knowledge<br>
          “Learning is a treasure that will follow its owner everywhere.” - Chinese Proverb
        </p>
      </div>
      <!--<button class="btn blue-btn" [routerLink]="['/register']">
        SIGN UP
      </button>-->
      <div class="sign" style="font-size: large;">
        <strong>
          If you already have an account, click on <span style="color: #0F62FE;">'LOG IN.'</span> If you don't have an account, click on <span style="color: #0F62FE;">'SIGN UP.'</span> to register.</strong>
         
      </div>
    </div>
    <div class="right-side ">
      
    </div>

   
  </section>

  
  
  <div class="bar d-flex align-items-center justify-content-center gap-lg-5 gap-3 w-100">

    <button class="btn white-btn" [routerLink]="['/login']">
      LOG IN 
    </button> 
    <button class="btn white-btn" [routerLink]="['/register']">
      SIGN UP
    </button>
  </div>

  <section class="second-section">
    <div class="paragraph">
      <h2 style="color: black;">
       <strong> What We Offer? </strong> 
      </h2>
    </div>
    <div class="row g-4">
      <div class="col-lg-4 col-md-6">
        <div class="card1">
          <div class="text">
            <div class="card-title"> <span class="num me-3">01</span>A wide selection of <span style="color: #0F62FE;"> Journies </span> </div>
            <div class="card-desc">Explore a wide range of Journies</div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card1">   
          <div class="text">
            <div class="card-title"> <span class="num me-3">02</span>A wide selection of <span style="color: #0F62FE;">  Courses </span></div>
            <div class="card-desc">Explore a wide range of Courses
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card1">
          <div class="text">
            <div class="card-title"> <span class="num me-3">03</span>A wide selection of <span style="color: #0F62FE;">  Topics </span> </div>
            <div class="card-desc">Explore a wide range of Topics.</div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card1">
          <div class="text">
            <div class="card-title"> <span class="num me-3">04</span>A wide selection of <span style="color: #0F62FE;">  Education package </span> </div>
            <div class="card-desc">Explore a wide range of Open Education Resources</div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card1">
          <div class="text">
            <div class="card-title"> <span class="num me-3">05</span> We can help you with <span style="color: #0F62FE;"> Chatbot <img _ngcontent-ng-c1240371757="" src="/assets/images/logo.png" alt="Chatbot Image" width="50" height="50" style="margin-left: 20px;"> </span> </div>
            <div class="card-desc">Our chatbot is ready to assist you with any queries!</div>
          </div>
        </div>
      </div>
    </div>
  </section>

  
  
</div>