.h-1 {
  height: 0.25rem;
}

.h-2 {
  height: 0.5rem;
}

.h-3 {
  height: 0.75rem;
}

.h-4 {
  height: 1rem;
}

.h-5 {
  height: 1.25rem;
}

.h-6 {
  height: 1.5rem;
}

.h-7 {
  height: 1.75rem;
}

.h-8 {
  height: 2rem;
}

.h-10 {
  height: 2.5rem;
}

.h-12 {
  height: 3rem;
}

.h-14 {
  height: 3.5rem;
}

.h-16 {
  height: 4rem;
}

.h-18 {
  height: 4.5rem;
}

.h-20 {
  height: 5rem;
}

.h-24 {
  height: 7rem;
}

.h-28 {
  height: 8rem;
}

.h-32 {
  height: 9rem;
}

.h-40 {
  height: 10rem;
}

.h-48 {
  height: 12rem;
}

.min-h-screen {
  min-height: 100vh;
}

.full-h-screen {
  height: 100vh;
}

.h-full {
  height: 100%;
}

.w-1 {
  width: 0.25rem;
}

.w-2 {
  width: 0.5rem;
}

.w-3 {
  width: 0.75rem;
}

.w-4 {
  width: 1rem;
}

.w-5 {
  width: 1.25rem;
}

.w-6 {
  width: 1.5rem;
}

.w-7 {
  width: 1.75rem;
}

.w-8 {
  width: 2rem;
}

.w-10 {
  width: 2.5rem;
}

.w-12 {
  width: 3rem;
}

.w-16 {
  width: 4rem;
}

.w-20 {
  width: 5rem;
}

.w-24 {
  width: 7rem;
}

.w-28 {
  width: 8rem;
}

.w-32 {
  width: 9rem;
}

.w-40 {
  width: 10rem;
}

.w-48 {
  width: 12rem;
}

.w-full {
  width: 100%;
}

.w-min-full {
  min-width: 100%;
}

.w-1-4 {
  width: 25%;
}

.h-1-4 {
  width: 25%;
}

.w-1-2 {
  width: 50%;
}

.h-1-2 {
  height: 50%;
}

.w-3-4 {
  width: 75%;
}

.w-80{
  width: 80%;
}

.w-90{
  width: 90%;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pb-15 {
  padding-bottom: 3.75rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.p-8 {
  padding: 2rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.pr-4 {
  padding-right: 1rem;
}


.pr-05 {
  padding-right: 0.5rem;
}

.pl-05 {
  padding-left: 0.5rem;
}

.pl-0 {
  padding-left: 0rem;
}

.px-50-px {
  padding-left: 50px;
  padding-right: 50px;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.px-0 {
  padding-left: 0rem;
  padding-right: 0rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.p-50-px {
  padding: 50px;
}

.m-0 {
  margin: 0 !important;
}

.ml-1 {
  margin-left: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-5 {
  margin: 2.5rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-025 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-12 {
  margin-top: 3rem;
}

.mt-16 {
  margin-top: 4rem;
}

.mt-50-px {
  margin-top: 50px;
}

.mb-16 {
  margin-bottom: 4rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-025 {
  margin-bottom: 0.25rem;
}

.mb-05 {
  margin-bottom: 0.5rem;
}

.ml-025 {
  margin-left: 0.25rem;
}

.ml-05 {
  margin-left: 0.5rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mr-025 {
  margin-right: 0.25rem;
}

.mr-05 {
  margin-right: 0.5rem;
}


.mr-075 {
  margin-right: 0.75rem;
}


.mr-4 {
  margin-right: 1rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.grid {
  display: grid;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-8 {
  gap: 2rem;
}

.rounded-md {
  border-radius: 4px;
}

.rounded-lg { 
  border-radius: 0.5rem; 
}


.rounded-full {
  border-radius: 9999px;
}

.rounded-b-lg {
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.rounded-b-2xl {
  border-bottom-right-radius: 2.0rem;
  border-bottom-left-radius: 2.0rem;
}

.rounded-t-xl {
  border-top-right-radius: 1.0rem;
  border-top-left-radius: 1.0rem;
}

.rounded-t-2xl {
  border-top-right-radius: 2.0rem;
  border-top-left-radius: 2.0rem;
}

.rounded-t-lg {
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.text-normal {
  font-weight: normal;
}

.text-bold {
  font-weight: 600;
}

.text-semi-bold {
  font-weight: 500;
}

.text-sm{
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

.text-2sm{
  font-size: 0.800rem; 
  line-height: 1.25rem; /* 20px */
}

.text-1sm{
  font-size: 0.600rem;
  line-height: 1.25rem; /* 20px */
}

.text-xs{
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
}

.text-2xs{
  font-size: 0.50rem; /* 12px */
  line-height: 1rem; /* 16px */
}

.font-thin{
  font-weight: 100;
}

.font-normal{
  font-weight: 400;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.sticky {
  position: sticky;
}

.inline-block {
  display: inline-block;
}

.inline-flex {
  display: inline-flex;
}

.block {
  display: block;
}

.top-0 {
  top: 0;
}

.top-1 {
  top: 0.25rem;
}

.top-2 {
  top: 0.5rem;
}

.top-4 {
  top: 1rem;
}

.top-5	{
  top: 1.25rem;
}

.top-6{
  top: 1.5rem;
}

.top-7{
  top: 1.75rem;
}

.top-16{
  top: 4rem;
}

.bottom-0 {
  bottom: 0;
}

.bottom-1 {
  bottom: 0.25rem;
}

.bottom-2 {
  bottom: 0.5rem;
}

.bottom-3 {
  bottom: 0.75rem;
}

.bottom-4 {
  bottom: 1.0rem;
}

.left-0 {
  left: 0;
}

.left-1 {
  left: 0.25rem;
}

.left-2 {
  left: 0.5rem;
}

.right-0 {
  right: 0;
}

.right-1 {
  right: 0.25rem;
}

.right-2 {
  right: 0.5rem;
}

.right-4 {
  right: 1rem;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-auto {
  overflow-x: auto !important;
}

.overflow-y-auto {
  overflow-y: auto !important;
}

.opacity-0 {
  opacity: 0;
}

.opacity-8 {
  opacity: 0.8;
}

.opacity-6 {
  opacity: 0.6;
}

.opacity-4 {
  opacity: 0.4;
}

.opacity-2 {
  opacity: 0.2;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dnone {
  display: none;
}

.hidden {
  display: hidden;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow {
  flex-grow: 1;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: end;
}

.items-start {
  align-items: start;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.column-reverse {
  flex-direction: column-reverse;
}

.row-reverse {
  flex-direction: row-reverse;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-grab {
  cursor: grab;
}

.centered-axis-xy {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.centered-axis-y {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.centered-axis-x {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}


.z-99 {
  z-index: 99;
}

.z-9999 {
  z-index: 999;
}

.z-10000 {
  z-index: 10000;
}

.z-10001 {
  z-index: 10001;
}

.hover-underline {
  &:hover {
    text-decoration: underline;
  }
}

.no-wrap {
  white-space: nowrap;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.break-word {
  word-wrap: break-word;
}

.shadow-md {
  box-shadow: 0 4px 6px -1px rgb(221, 223, 244),
    0 2px 4px -1px rgb(237, 239, 255);
}

.shadow-lg {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.shadow-xl {
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.shadow-inner {
  box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
}

.shadow-center {
  box-shadow: -1px -4px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

.shadow-top-md {
  box-shadow: -1px -4px 6px -1px #dddff4, 0 2px 4px -1px #edefff;
}

.no-shadow {
  box-shadow: none;
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

.pointer-events-none {
  pointer-events: none;
}

// Background

.bg-white {
  background: #fff;
}

.bg-blue-900 {
  background: $blue-900;
}

.bg-blue-500 {
  background: $blue-500;
}

.bg-blue-400 {
  background: $blue-400;
}

.bg-blue-300 {
  background: $blue-300;
}

.bg-blue-200 {
  background: $blue-200 !important;
}

.bg-blue-100 {
  background: $blue-100 !important;
}

.bg-blue-gray-200 {
  background: $blue-gray-300;
}

.bg-blue-gray-400 {
  background: $blue-gray-400;
}

.bg-dark-700 {
  background: $dark-700;
}

.bg-dark-800 {
  background: $dark-800;
}

.bg-red-200 {
  background: $red-200;
}

.bg-red-500 {
  background: $red-500;
}

.bg-orange-500 {
  background: $orange-500;
}

.bg-green-600 {
  background: $green-600
}

.white {
  color: #fff;
}
// Border
.border-1 {
  border-width: 1px;
  border-style: solid;
}

.border-2 {
  border-width: 2px;
  border-style: solid;
}

.border-3 {
  border-width: 3px;
  border-style: solid;
}

.border-4 {
  border-width: 4px;
  border-style: solid;
}

.border-t-1 {
  border-top-style: solid !important;
  border-width: 1px !important;
}

.border-b-1 {
  border-bottom-style: solid !important;
  border-width: 1px !important;
}

.border-r-1 {
  border-right-style: solid !important;
  border-width: 1px !important;
}

.border-l-1 {
  border-left-style: solid !important;
  border-width: 1px !important;
}

.border-blue-gray-300 {
  border-color: $blue-gray-300;
}


.border-blue-gray-500 {
  border-color: $blue-gray-500;
}

.border-dark-700 {
  border-color: $dark-700;
}


.border-blue-400 {
  border-color: $blue-400;
}

.color-disabled{
  color: #dcdcdc;
}

.scale-lg{
  transform: scale(5);
}

.whitespace-pre-wrap{
  white-space: pre-wrap;
}


.font-medium{
  font-weight: 500;
}	