// General
$transition-duration: 300ms !default;

// Typography
$font-family-base: "Noto Sans", "Helvetica Neue", sans-serif !default;
$font-size-base: 0.875rem !default;
$font-weight-base: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: 600 !default;

// Colors
$dark-800: #212833;
$dark-700: #313c4d;
$blue-900: #29263A;
$blue-700: #1E43B3;
$blue-500: #4A76FB;
$blue-400: #94B4FF;
$blue-300: #D9E4FF;
$blue-200: #E1EAFF;
$blue-100: #F4F7FD;
$blue-gray-600: #A4AABD;
$blue-gray-500: #C6CBDB;
$blue-gray-400: #F4F5F9;
$blue-gray-300: #E5E5EE;
$blue-gray-200: #F3F3F4;
$green-600: #43B794;
$green-300: #5CDCB5;
$red-500: #e66060;
$orange-500: #ee8540;
$red-200: #fff0f0;
