<loading class="centered-axis-xy" *ngIf="isLoading"></loading>
<div *ngIf="!isLoading">
  <div class="mb-4">
    <h3 class="text-blue-900 mt-0">Information</h3>
  </div>
  <div class="rounded-md border-1 border-blue-gray-300">
    <div class="flex border-b-1 border-blue-gray-300">
      <div class="flex-1 bg-blue-gray-400 px-3">
        <p class="text-bold text-sm text-dark-700">ID:</p>
      </div>
      <div class="flex-1 bg-white px-3 text-right">
        <p class="text-dark-700 text-sm">{{ oer.ID }}</p>
      </div>
    </div>
    <div class="flex border-b-1 border-blue-gray-300">
      <div class="flex-1 bg-blue-gray-400 px-3">
        <p class="text-bold text-sm text-dark-700">Type:</p>
      </div>
      <div class="flex-1 bg-white px-3 text-right">
        <p class="text-dark-700 text-sm">OER</p>
      </div>
    </div>
    <div class="flex border-b-1 border-blue-gray-300">
      <div class="flex-1 bg-blue-gray-400 px-3">
        <p class="text-bold text-sm text-dark-700">Title:</p>
      </div>
      <div class="flex-1 bg-white px-3 text-right">
        <p class="text-dark-700 text-sm">{{ oer.title }}</p>
      </div>
    </div>

    <div class="flex border-b-1 border-blue-gray-300">
      <div class="flex-1 bg-blue-gray-400 px-3">
        <p class="text-bold text-sm text-dark-700">Created at:</p>
      </div>
      <div class="flex-1 bg-white px-3 text-right">
        <p class="text-dark-700 text-sm">
          {{ oer.created_at | date }}
        </p>
      </div>
    </div>
    <div class="flex border-b-1 border-blue-gray-300">
      <div class="flex-1 bg-blue-gray-400 px-3">
        <p class="text-bold text-sm text-dark-700">Description:</p>
      </div>
      <div class="flex-1 bg-white px-3 text-right">
        <p class="text-dark-700 text-sm">
          {{ oer.description ? oer.description : "-" }}
        </p>
      </div>
    </div>
    <div class="flex">
      <div class="flex-1 bg-blue-gray-400 px-3">
        <p class="text-bold text-sm text-dark-700">Link:</p>
      </div>
      <div
        class="flex-1 bg-white px-3 text-right flex items-center justify-end"
      >
        <a class="text-sm hover-underline" [href]="oer.url" target="_blank">{{
          oer.url
        }}</a>
      </div>
    </div>
  </div>
</div>
