<loading class="centered-axis-xy" *ngIf="isLoading"></loading>
<div [class.opacity-6]="isLoading">
  <div class="flex items-center justify-space-between mb-8">
    <h3 class="text-blue-900 mt-0">Related journies</h3>
    <p class="text-blue-900 mt-0 text-sm text-semi-bold">
      Amount: {{ journies.length }}
    </p>
  </div>

  <grid [cols]="3">
    <explore-journey-card
      (click)="explore(journey)"
      [journey]="journey"
      *ngFor="let journey of journies"
    ></explore-journey-card>
  </grid>
</div>
