


<div class="wrapper d-flex align-items-center" style="min-height: 100vh;">
  <div class="register-container" >
    <div class="register-title">
    <div class="title">
      Sign Up Free
    </div>
    <div class="sub-title my-2">
      Please fill in all the required fields to create a new account
    </div>
    </div>
    <register-form></register-form>
    <div class="px-1">
      <p class="text-blue-gray-600 text-sm">
        <a class="text-blue-500" [routerLink]="['/login']">Already have an account?</a> 
      </p>
    </div>
  </div>
</div>