<div class="footer_fix"
    style="text-align: center; min-height: 665px; margin: 50px; padding: 20px; border: 2px; border-radius: 10px;">
    <h1 style="color: #e66060;">404 - Page Not Found</h1>
    <p style="font-size: 18px;">Oops! The requested page could not be found.</p>
    <p style="font-size: 16px; color: #555;">It seems like the resource you're looking for is not available on our
        education platform.</p>
    <p style="font-size: 16px; color: #555;">Please check the URL or navigate back to our <a [routerLink]="['/home']"
            style="color: black; font-style: inherit;">Home</a> page.</p>
    <div class="nav-item">


    </div>
</div>