<loading class="centered-axis-xy" *ngIf="isLoading"></loading>
<div [class.opacity-6]="isLoading">
  <div class="flex items-center justify-space-between mb-8">
    <h3 class="text-blue-900 mt-0">Related courses</h3>
    <p class="text-blue-900 mt-0 text-sm text-semi-bold">
      Amount: {{ relatedCourses.length }}
    </p>
  </div>

  <grid [cols]="3">
    <explore-course-card
      (goToRelated)="goToRelated.emit($event)"
      (goToProfile)="goToProfile()"
      [course]="relatedCourse"
      *ngFor="let relatedCourse of relatedCourses"
    ></explore-course-card>
  </grid>
</div>
