
<div  class="flex flex-column shadow-md mb-2 rounded-lg justify-end " 
style="background-color: #fff; width: 400px; height: 640px;">
    <chatbot-start-menu 
    class="h-full" 
    (onClose)="onClose.emit()"
    (onMenuChange)="onMenuChange($event)"
    [expert]="expert"
    *ngIf="selectedMenu == 'start'" 
    ></chatbot-start-menu>
    <chatbot-chatting-menu 
    class="h-full" 
    (onClose)="onClose.emit()"
    (onChange)="onMenuChange($event)"
    (showHideSpeechMenu)="showHideSpeechMenu.emit()"
    [currentSessionId]="currentSessionId"
    [ownSession]="ownSession"
    *ngIf="selectedMenu == 'chat'"
    ></chatbot-chatting-menu>
</div>