<div
  class="graph-legend rounded-full bg-white px-3 py-2 border-1 border-blue-gray-300 cursor-pointer"
>
  <div class="flex items-center graph-legend-content">
    <mat-icon class="icon-size-xs text-blue-500" style="margin-right: 4px">
      help
    </mat-icon>
    <span class="text-sm text-blue-900">Legend</span>
    <div class="flex items-center pl-3 graph-legend-items">
      <div class="flex items-center mr-075" *ngFor="let color of colors">
        <div
          class="w-3 h-3 rounded-full bg-blue-500 mr-025"
          [style.background]="color.color"
        ></div>
        <span class="text-sm text-blue-900" style="white-space: nowrap">
          {{ color.title }}
        </span>
      </div>
    </div>
  </div>
</div>
