<div class="flex flex-column h-full rounded-lg"  >
    <div class="flex flex-row items-center justify-center px-5 py-4  top-0 left-0 right-0 sticky sessions-header rounded-t-lg">
        <div class="flex flex-row w-full justify-center">
            <label class="page-title">Requests</label>
        </div>
        <button 
        mat-icon-button 
        style="color:#fff"
        (click)="close()"
        >
            <mat-icon>
                close
            </mat-icon>
        </button>

    </div>
    <empty 
    class="centered-axis-xy"
    [message]="'!Oops, your Requestlist is Empty'"
    *ngIf="invites == null || invites.length == 0"
    ></empty>
    <loading class="centered-axis-xy" *ngIf="isLoading"></loading>
    <mat-progress-bar 
    mode="indeterminate"
    [style.display]="loadingProgressEnable? 'block' : 'none'"
    ></mat-progress-bar>
    <mat-list *ngIf="!isLoading" class="h-full w-full" role="list">
        <mat-list-item  
        style="height: 7vh;" 
        role="listitem"
        *ngFor="let invite of invites" >
            <div class="flex flex-row gap-2 w-full" >
                <img [src]="LOGO" alt="..." class="shadow-md rounded-full w-12 h-12  border-none" />
                <div class="flex flex-row  items-center w-full justify-space-between">
                    <div class="flex flex-column items-start">
                        <span class="text-sm font-normal card-title">{{invite.created_by}} requested your help</span>
                        <span class="text-sm font-normal card-content" >{{invite.created_at}}</span>
                    </div>
                    <div class="flex flex-row">
                        <button 
                        mat-icon-button
                        color="warn"
                        (click)="refuseRequest(invite.id, invite.session_id)">
                            <mat-icon>close</mat-icon>
                        </button>
                        <button 
                        mat-icon-button
                        (click)="acceptRequest(invite.id, invite.session_id)">
                            <mat-icon>done</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>
        </mat-list-item>

        
    </mat-list>
</div>

