.sessions-bg{
    background: linear-gradient(180deg, rgba(49,60,77,1) 0%, rgba(255,255,255,1) 64%, rgba(255,255,255,1) 100%);
}

.page-title {
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 150%;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding: 0px;
}

.sessions-header {
    background-color: #313c4d ;
    z-index: 1000;
}

.card-content {
    color: rgb(115, 115, 115);
    font-size: 0.80rem;
}

.card-title{
    color: #000;
}

.scale-sm {
    transform: scale(0.6);
}



.send-btn{
    background-color: #313c4d; 
    color:#fff
}

