.container1{
  width: 100%;
  min-height: 100vh;
  /* background: #BEDCF2; */
}
.login-container{
  margin: 70px auto;
  border-radius: 30px;
border: 1px solid var(--CoolGray-20, #DDE1E6);
background: var(--Default-White, #FFF);
display: flex;
width: 680px;
padding: 80px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 24px;
flex-shrink: 0;
}
.login-title .title{
  align-self: stretch;
  color: var(--CoolGray-90, #21272A);
  text-align: center;
  
  /* Heading/2 */
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 46.2px */
}
.login-title .sub-title{
  color: var(--CoolGray-90, #21272A);
text-align: center;

/* Body/L */
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 25.2px */
align-self: stretch;
}
.log-in-with{
  display: flex;
padding-block: 24px;
flex-direction: column;
align-items: center;
gap: 16px;
align-self: stretch;
border-top: 1px solid  #DDE1E6;
border-bottom: 2px solid #0F62FE;

}
.social-container{
  gap: 16px;
}
.social{
  display: flex;
height: 48px;
padding: 16px 12px;
justify-content: center;
align-items: center;
flex: 1 0 0;
border: 2px solid  #0F62FE;
}