
<div  class="flex flex-column shadow-center mb-2 rounded-lg notification-body">
    <img [src]="LOGO" class="shadow-lg rounded-full w-10 h-10  border-none  z-99 absolute"  style="margin-top: -20px; right:45%" />
    <div class="flex flex-row justify-end">
        <button 
        mat-button
        (click)="close()">
            <mat-icon>
                close
            </mat-icon>
        </button>
    </div>
    <label class="flex-1 text-center card-title" style="font-weight: 600; padding-inline: 3px;">{{notificationMessage}}</label>
</div>